@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$grayColor: #f2f2f2;

body {
  font-family: Roboto, sans-serif;

  .search-bar-container {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    &__search-bar {
      text-align: center;
      width: 50%;
      border: 1px solid darken($grayColor, 10%);
      padding: 20px;

      &:focus {
        outline: none;
        border: 1.5px solid darken($grayColor, 20%);
      }
    }
  }

  .people-table {
    border-collapse: collapse;
    width: 100%;

    tr {
      &:nth-child(even) {
        background-color: $grayColor;
      }

      &:hover {
        background-color: darken($grayColor, 10%);
      }
    }

    th {
      color: darken($grayColor, 70%);
      border-bottom: 1px solid darken($grayColor, 10%);
      text-align: left;
      padding: 20px 0 10px 10px;
      background-color: $grayColor;

      &:hover {
        cursor: pointer;
      }
    }

    td {
      color: darken($grayColor, 50%);
      padding: 8px;
      align-items: center;
    }

    &__flex-box {
      display: flex;
      flex-direction: row;

      p {
        order: 1;
      }

      img {
        background-color: darken($grayColor, 20%);
        margin-right: 15px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
    }
  }

  .status-message-container {
    display: flex;
    justify-content: center;

    &__loading, &__no-records {
      color: darken($grayColor, 40%);
    }

    &--disabled {
      display: none;
    }
  }
}
